DEBUG=Flase or True
SECRET_KEY=your-real-secret-key

GOOGLE_CLIENT_ID=***
GOOGLE_CLIENT_SECRET=***

DATABASE_URL=***
PROMPTPAY_ID=***
PAYMENTS_EXPIRE_MINUTES=15

CREDIT_CHAPTER_PER_UNIT=5
CREDIT_SENTENCE_PER_UNIT=10
CREDIT_CHARACTER_IMAGE=5
CREDIT_SCENE_IMAGE=10

OLLAMA_URL=http://localhost:11434/api/generate
LLAMA_MODEL=llama3:8b
TIMEOUT=3600

POPPLER_PATH=***

CELERY_BROKER_URL=***
CELERY_RESULT_BACKEND=***
CELERY_ACCEPT_CONTENT= ['json']
CELERY_TASK_SERIALIZER= 'json'

TTS_SERVICE_URL=***