@import "tailwindcss"; 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  background-color: #137ef9;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}